{
  "openapi": "3.1.0",
  "info": {
    "title": "OrcaTrade Public API",
    "version": "1.0.0",
    "description": "The /api/v1/* public surface of OrcaTrade.\n\nContracts are frozen per version (see ADR 0007 — Public API contracts under /api/vN/ are stable per version).\nSchemas pin required fields + their types but do NOT set additionalProperties:false — adding a new\nfield is non-breaking; removing/renaming/retyping a pinned field is a breaking change that lands as a\nnew version (/api/v2/, ADR 0007).\n\nThis document is generated from lib/contracts/v1/ + lib/contracts/v1/openapi-metadata.js via\nscripts/generate-openapi.js. Drift between the source contracts and this artefact is enforced by\ntest/openapi-drift.test.js. Do not edit this file by hand.",
    "contact": {
      "name": "OrcaTrade",
      "url": "https://orcatrade.pl",
      "email": "security@orcatrade.pl"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://orcatrade.pl",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/v1/tiers": {
      "get": {
        "summary": "Public subscription catalogue",
        "description": "Returns the live catalogue of subscription tiers — price, quotas, features. Used by the marketing site's pricing page + the in-app upgrade flow. Enterprise tiers may have null prices (contact-us).",
        "tags": [
          "catalogue"
        ],
        "operationId": "tiers",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "catalog",
                    "defaultTierId"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "defaultTierId": {
                      "type": "string"
                    },
                    "catalog": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "priceMonthlyEur",
                          "priceAnnualEur",
                          "quotas",
                          "features"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "priceMonthlyEur": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "priceAnnualEur": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "isFree": {
                            "type": "boolean"
                          },
                          "requiresContact": {
                            "type": "boolean"
                          },
                          "quotas": {
                            "type": "object"
                          },
                          "features": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — see body for details."
          },
          "429": {
            "description": "Rate-limited."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    },
    "/api/v1/hs-suggest": {
      "get": {
        "summary": "Plain-language HS code lookup",
        "description": "Given a free-text product description, returns ranked HS6 code candidates with confidence scores. Backs the /start/ wizard's code-suggest step + the in-app HS lookup tool.",
        "tags": [
          "compliance"
        ],
        "operationId": "hs-suggest",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "query",
                    "candidates"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "query": {
                      "type": "string"
                    },
                    "candidates": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "hs6",
                          "label",
                          "chapter",
                          "score"
                        ],
                        "properties": {
                          "hs6": {
                            "type": "string"
                          },
                          "label": {
                            "type": "string"
                          },
                          "chapter": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — see body for details."
          },
          "429": {
            "description": "Rate-limited."
          },
          "500": {
            "description": "Internal error."
          }
        },
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Free-text product description (e.g. \"knitted cotton t-shirts\", \"lithium-ion battery cells\").",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 200
            }
          }
        ]
      }
    },
    "/api/v1/customs": {
      "post": {
        "summary": "Landed-cost and duty quote",
        "description": "Calculates EU customs duty (MFN + chapter rate + applicable preferential regime + trade-defence measures) plus VAT for the import. Returns the full quote breakdown including any applicable anti-dumping / countervailing duties. All money math is integer cents through lib/intelligence/money.js (per ADR 0004).",
        "tags": [
          "compliance",
          "finance"
        ],
        "operationId": "customs",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "ok",
                    "duty",
                    "vat",
                    "quotes"
                  ],
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "asOf": {
                      "type": "string"
                    },
                    "duty": {
                      "type": "object",
                      "required": [
                        "rate",
                        "ratePercent",
                        "breakdown",
                        "tradeDefenceMeasures",
                        "preferentialApplied"
                      ],
                      "properties": {
                        "rate": {
                          "type": "number"
                        },
                        "ratePercent": {
                          "type": "number"
                        },
                        "mfnRate": {
                          "type": "number"
                        },
                        "mfnSource": {
                          "type": "string"
                        },
                        "chapterRate": {
                          "type": [
                            "number",
                            "null"
                          ]
                        },
                        "breakdown": {
                          "type": "array"
                        },
                        "tradeDefenceMeasures": {
                          "type": "array"
                        },
                        "preferentialApplied": {
                          "type": [
                            "boolean",
                            "object",
                            "null"
                          ]
                        }
                      }
                    },
                    "vat": {
                      "type": "object",
                      "required": [
                        "rate"
                      ],
                      "properties": {
                        "rate": {
                          "type": "number"
                        }
                      }
                    },
                    "quotes": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — see body for details."
          },
          "429": {
            "description": "Rate-limited."
          },
          "500": {
            "description": "Internal error."
          }
        },
        "requestBody": {
          "description": "The shipment being quoted.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "hsCode",
                  "originCountry",
                  "destinationCountry",
                  "customsValue"
                ],
                "properties": {
                  "hsCode": {
                    "type": "string",
                    "description": "HS code, 6-10 digits.",
                    "minLength": 6,
                    "maxLength": 10
                  },
                  "originCountry": {
                    "type": "string",
                    "description": "ISO-2 country code of origin (e.g. CN, VN, IN).",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "destinationCountry": {
                    "type": "string",
                    "description": "ISO-2 country code of destination (EU member or UK).",
                    "minLength": 2,
                    "maxLength": 2
                  },
                  "customsValue": {
                    "type": "object",
                    "required": [
                      "amount",
                      "currency"
                    ],
                    "properties": {
                      "amount": {
                        "type": "number",
                        "description": "Customs value in the smallest currency unit (cents)."
                      },
                      "currency": {
                        "type": "string",
                        "description": "ISO-4217 currency code.",
                        "minLength": 3,
                        "maxLength": 3
                      }
                    }
                  },
                  "preferentialClaim": {
                    "type": "string",
                    "description": "Preferential regime to apply if eligible (e.g. EUKFTA, EVFTA, GSP, EBA). Optional."
                  },
                  "asOfDate": {
                    "type": "string",
                    "description": "Date the quote should be valid for (ISO-8601 YYYY-MM-DD). Defaults to today."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/health": {
      "get": {
        "summary": "Operational status probe",
        "description": "Returns the platform's operational status + per-subsystem health checks (KV, Postgres, AI subsystem, Resend circuit, etc.). Used by the uptime workflow + by /status/ + by the runbooks as the first triage step.",
        "tags": [
          "operations"
        ],
        "operationId": "health",
        "responses": {
          "200": {
            "description": "Success.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "checks"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok",
                        "degraded",
                        "down"
                      ]
                    },
                    "checks": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — see body for details."
          },
          "429": {
            "description": "Rate-limited."
          },
          "500": {
            "description": "Internal error."
          }
        }
      }
    }
  },
  "components": {}
}
